.container {
    max-width: 900px;
    max-height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
    color: black;
}

.card-gird{
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 90%;
    height: 80%;
    padding: 40px 40px;
}

