.dialog {
    position: absolute;
    left: 360px;
    top: -100%;
    width: 300px;
    height: 400px;
    background-color: brown;
    border-radius: 5px;
    /* animation-name: animatetop;
    animation-duration: 0.4s; */
    opacity: 0;
    transition: top 0.4s, opacity 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.show {
    top: 300px;
    opacity: 1;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }